
/*div.bootstrap_breadcrump {
  position:relative;
  float:left;
  height: 40px;  
}*/

a.bootstrap_breadcrump_item {
  cursor: pointer;
}

div.bootstrap_breadcrump_item {
  position:relative;
  float:left;
  padding-top:10px;
  padding-left:8px;
  font-weight: bold;
}