
div.bootstrap_popover{
  margin:-2px -4px -8px 0px;
}

img.bootstrap_popover{
  float:left;
  width:20px;
  margin-left:-10px;
}

p.bootstrap_popover{
  white-space:pre;
  top:3px;
  left:5px;
  padding-right:16px;
  position:relative;
}

span.bootstrap_popover{
  position:relative;
  top:0px;
  color:firebrick;
  font-weight:bold;
  font-size:10px;
}
